#RewriteEngine On
#RewriteBase /dictproj1/

# Allow access to existing files and folders
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# Route everything else to index.php
#RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
